# #############################################################################
# requirements.txt
# ================
# Author : Sepand KASHANI [kashani.sepand@gmail.com]
# #############################################################################

numpy >= 1.10
scipy >= 1.0
